<a href="https://colab.research.google.com/github/JanviDharwal/UCS712/blob/main/assignment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Assingment 4.1: WAP to print the table of 7, 9.
for i in range(1,11):
  print(i,'x 7=',i*7)

1 x 7= 7
2 x 7= 14
3 x 7= 21
4 x 7= 28
5 x 7= 35
6 x 7= 42
7 x 7= 49
8 x 7= 56
9 x 7= 63
10 x 7= 70

In [ ]:
#table for 9
for i in range(1,11):
  print(i,'x 9=',i*9)

1 x 9= 9
2 x 9= 18
3 x 9= 27
4 x 9= 36
5 x 9= 45
6 x 9= 54
7 x 9= 63
8 x 9= 72
9 x 9= 81
10 x 9= 90

In [10]:
#Assingment 4.2: WAP to print the table of n and n is given by user.
a=int(input("enter number of the table"))
b=int(input("enter the last number of the table"))
for i in range(1,b+1):
  print(i,'x',a,'=',i*a)

enter number of the table5
enter the last number of the table6
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30

In [12]:
#Assingment 4.3: WAP to add all the numbers from 1 to n and n is given by user.
a=int(input("enter number"))
sum=0
for i in range(1,a+1):
  sum+=i
print(sum)

enter number6
21