<a href="https://colab.research.google.com/github/JanviDharwal/UCS420/blob/main/LabAssignment3_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#question 3
#Navigate the DataFrame and do the following task for the table created in question 1:
import pandas as pd
data={
    'Tid':[1,2,3,4,5,6,7,8,9,10],
    'Refund':['Yes','No','No','Yes','No','No','Yes','No','No','No'],
    'Marital Status':['Single','Married','Single','Married','Divorced','Married','Divorced','Single','Married','Single'],
    'Taxable Income':['125k','100k','70k','120k','95k','60k','220k','85k','75k','90k'],
    'Cheat':['No','No','No','No','Yes','No','No','Yes','No','Yes']
}
df=pd.DataFrame(data)
#i Select row from index 3 to 7.
print(df.iloc[3:8])
#ii Select row from index 4 to 8, and column 2 to 4.
print(df.iloc[4:9,2:5])
#iii 3. Select all rows with column index 1 to 3 (include index)
print(df.iloc[:,1:4])

   Tid Refund Marital Status Taxable Income Cheat
3    4    Yes        Married           120k    No
4    5     No       Divorced            95k   Yes
5    6     No        Married            60k    No
6    7    Yes       Divorced           220k    No
7    8     No         Single            85k   Yes
  Marital Status Taxable Income Cheat
4       Divorced            95k   Yes
5        Married            60k    No
6       Divorced           220k    No
7         Single            85k   Yes
8        Married            75k    No
  Refund Marital Status Taxable Income
0    Yes         Single           125k
1     No        Married           100k
2     No         Single            70k
3    Yes        Married           120k
4     No       Divorced            95k
5     No        Married            60k
6    Yes       Divorced           220k
7     No         Single            85k
8     No        Married            75k
9     No         Single            90k