<a href="https://colab.research.google.com/github/JanviDharwal/UCS420/blob/main/LabAssignment2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and perform the following operations using tuple functions:
#i. Identify the highest score and its index in the tuple.
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print('highest score',max(scores))
print('index og highest score',scores.index(max(scores)))

highest score 92
index og highest score 5

In [3]:
#ii. Find the lowest score and count how many times it appears.
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print('lowest score',min(scores))
print('count of lowest score',scores.count(min(scores)))

lowest score 45
count of lowest score 2

In [5]:
#iii Reverse the tuple and return it as a list.
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
print(list(reversed(scores)))

[45, 58, 92, 89, 45.4, 76, 89.5, 45]

In [6]:
#iv Check if a specific score ‘76’ (input by the user) is present in the tuple and print its first occurrence index, or a message saying it’s not present.
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)
n=int(input("enter number to be searched"))
if n in scores:
  print("it exists and its index is",scores.index(n))
else:
  print("it does not exist")

enter number to be searched76
it exists and its index is 2